@charset "gb2312";
.M_markTags,.M_Tags{display:inline-block;padding:4px 23px;font-size:14px;}
.M_markTags:hover,.M_Tags:hover{ text-decoration:none;}
.M_markTags{color:#d33a2e;border:1px solid #D33A2E;background-color:#fff;}
.M_markTags.M_delTags:hover{background-image:url(../../images/del1.png); background-position:right center; background-repeat:no-repeat;}
.M_addTags:hover{ background-image:url(../../images/add.png); background-position:right center; background-repeat:no-repeat;}
.M_Tags{color:#fff;border:1px solid #d33a2e;background-color:#D33A2E;}
.M_Tags:hover{background-color:#E6594E;color:#fff;}
.M_delTags:hover{background-image:url(../../images/del.png); background-position:right center; background-repeat:no-repeat;}

.M_cmnt_shr{overflow:hidden;line-height:16px;}
.M_cmnt_shr a{font-size:14px;float:left;line-height:14px;}
.M_cmnt_shr .cmmnt{padding:0 10px 0 22px;background:url(../../images/cmmn.png) no-repeat left center;}
.M_cmnt_shr .cmmnt:hover{background-image:url(../../images/cmmnhv.png);}
.M_cmnt_shr .share{border-left:1px solid #333;padding-left:10px;}

.M_picTit{position:relative; text-align:center;}
.M_picTit .img_des{position:absolute;height:30px; line-height:30px; width:100%; left:0;bottom:0; font-size:12px;color:#ccc; display:block;}
.M_picTit .M_v_icon{background-image:url(../../images/common/v_icon.png); background-position:right center; background-repeat:no-repeat;display: block;width:22px;height:22px;position:absolute;left:5px;bottom:32px;}
.M_picTit:hover .img_des{color:#fff;}
.M_picTit:hover .M_v_icon{background-image:url(../../images/common/v_icon2.png);}

.M_ellps{ white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
.M_bg{background:url(../../images/alp.png) repeat 0 0;color:#fff;}
.M_list{font-size:14px;}
.M_list li{padding:10px 0 12px 8px;background:url(../../images/pnt.png) no-repeat left center;}
.M_list li a:visited{color:#999;}
/*头部导航*/
.Mininav{ width:100%; height:60px; background:#fff; position:fixed; z-index:9999;-webkit-box-shadow:1px 1px 10px #eceae8;box-shadow:1px 1px 10px #eceae8; border-bottom:1px solid #f2f1ef; }
.top-nav{width: 1000px;margin: 0 auto;height: 60px;}
.tn-left{float: left; }
.tn-left a.logo,.Mininav .timeline-time li{float: left;}
.tn-left a.logo{display:block; width:140px; height:60px; background: url(http://www.sinaimg.cn/dy/2015/lh2015/lianghui_pic/logotop.png) no-repeat left 9px;  background-size:100%;}
.tn-left a.title {float: left;border-left: 1px solid #b39d6e;height:32px;line-height: 33px;font-size: 20px;padding-left: 20px; margin-left: 20px; color: #000; margin-top:14px;}
.tn-left a.title:hover{ color:#d33a2e; text-decoration:none;}
.tn-right{float: right;width:80px;}
.tn-right .bshare-custom{ width: 27px;height: 60px; float: left; line-height: 200px;overflow: hidden;margin-right: 25px; cursor: pointer;}
.tn-right .bshare-custom.icon-medium a.bshare-more.more-style-addthis{ width: 27px;height: 60px; float: left; background:url(http://www.sinaimg.cn/dy/2015/lh2015/lianghui_pic/top_commit.png) no-repeat center; cursor: pointer; padding: 0px !important;margin: 0px !important;}
.tn-right .cmnt{width: 28px;height: 60px; float: left; line-height: 200px;overflow: hidden; background: url(http://www.sinaimg.cn/dy/2015/lh2015/lianghui_pic/top_enjoy.png) no-repeat center; cursor: pointer;}
/*头部*/
.M_head{ width:100%; height:425px;top:60px;_top:0;_background:url(../../images/ie6.jpg) center bottom; overflow:hidden; position:relative;}
.M_head .bg{ width:100%; height:425px; background:url(../../images/bg.jpg) repeat-x left bottom; _background:none; position:absolute; left:0; top:0; z-index:1;}
.M_head .head_con{ width:1000px; height:425px; margin: 0 auto; zoom:1; position:relative; z-index:2;}
.M_head .sp_star{ left:40%; top:40%;}
.M_head .sp1{ background:url(../../images/sp1.png); width:200px; height:90px;}
.M_head .sp2{ background:url(../../images/sp2.png); width:110px; height:50px;}
.M_head .sp3{ background:url(../../images/sp3.png); width:110px; height:60px;}
.M_head .sp4{ background:url(../../images/sp4.png); width:75px; height:35px;}
.M_head .sp5{ background:url(../../images/sp5.png); width:80px; height:40px;}
.M_head .sp6{ background:url(../../images/sp6.png); width:110px; height:30px;}
.M_head .sp7{ background:url(../../images/sp7.png); width:90px; height:42px;}
.M_head .sp8{ background:url(../../images/sp8.png); width:190px; height:40px;}
.M_head .sp9{ left:400px; top:113px; background:url(../../images/sp9.png); width:90px; height:180px; z-index:5;}
.M_head .sp10{ left:235px; top:102px; background:url(../../images/sp10.png); width:165px; height:190px; z-index:3;}
.M_head .sp11{ left:289px; top:82px; background:url(../../images/sp11.png); width:410px; height:170px;z-index:3;}
.M_head .sp12{ right:0; top:0px; background:url(../../images/tit.jpg); width:139px; height:155px;}
.M_head .sp{ position:absolute; _background:none;}
.M_head .sp1.sp_end{ left:-273px; top:251px;}
.M_head .sp2.sp_end{ left:-78px; top:201px; }
.M_head .sp3.sp_end{ left:145px; top:21px;}
.M_head .sp4.sp_end{ left:566px; top:56px; }
.M_head .sp5.sp_end{ left:646px; top:290px;}
.M_head .sp6.sp_end{ left:731px; top:254px; }
.M_head .sp7.sp_end{ left:auto; right:-110px; top:164px;}
.M_head .sp8.sp_end{ left:auto; right:-279px; top:206px;}

/*聚焦头条*/
.M_headline .red .img_box{ background:#d33a2e;}
.M_headline .headline_con{ width:1000px; height:485px; overflow:hidden; margin: 0 auto;}
.M_headline .img_left{width:670px; height:485px; overflow:hidden; float:left;}
.M_headline .img_left li{position:relative;width:330px; height:240px; margin:0 5px 5px 0; float:left;}
.M_headline .img_box{ position:relative; cursor:pointer; zoom:1;}
.M_headline .img_des{ position:absolute;height:36px; line-height:36px; width:100%; left:0;bottom:0; font-size:18px; color:#fff; text-align:center;}
.M_headline .red .center{ text-align:center; font-size:18px; color:#fff; padding-top:105px; display:block; }
.M_headline .red .M_bg{ background-image:none; background-color:#b82f24;} 
.M_headline .img_left img,.M_headline .img_left .img_box{width:330px; height:240px;}
.M_headline .des_box{ position:absolute; left:0; top:0; width:296px; height:160px;color:#fff; padding:40px 17px; overflow:hidden;}
.M_headline .des_box .title_b{ display:block; color:#fff; text-decoration:none; font-size:18px; max-height:48px;_height:48px; line-height:24px; margin-bottom:30px; overflow:hidden;}
.M_headline .des_box .title_s{ display:block; color:#fff; text-decoration:none; font-size:14px; line-height:24px; height:72px; overflow:hidden;}
.M_headline .img_right{ width:330px; float:right; overflow:hidden;} 
.M_headline .img_right .img_top{ position:relative;}
.M_headline .img_right .des_box{ height:240px; padding-top:130px;}
.M_headline .img_right .img_box img{width:330px; height:410px;}
.M_headline .img_right .ad{ width:330px; height:70px; display:block; margin-top:5px;}
/*焦点视觉*/
.M_focus{margin-top:28px;}
.M_focus .focus_con{ width:1000px; height:540px; overflow:hidden; margin: 0 auto; background:#4a525f; text-align:center;}
.M_focus .img_big{width:800px; height:540px; overflow:hidden; float:left; position:relative;}
.M_focus .img_big .img_des{ position:absolute;background:#000;background:rgba(0,0,0,.7); height:60px; line-height:60px; width:100%; left:0;bottom:0; font-size:24px; color:#fff;}
.M_focus .img_big img{width:800px; height:540px;}
.M_focus .img_small{width:184px; height:526px; overflow:hidden; float:right; padding:7px 8px;}
.M_focus .img_small li{ display:inline-block; float:left;margin-bottom:10px; }
.M_focus .img_small li a{ display:block;width:180px; height:120px; border:2px solid #4a525f;position:relative;}
.M_focus .img_small .cur{ border-color:#d33a2e;}
.M_focus .img_small .img_des{ position:absolute;height:30px; line-height:30px; width:100%; left:0;bottom:0; font-size:12px;color:#ccc;}
.M_focus .img_small img{width:180px; height:120px; opacity:0.6;}
.M_focus .img_small a:hover img,.M_focus .img_small .cur img{ opacity:1; }
.M_focus .img_small a:hover .img_des,.M_focus .img_small .cur .img_des{color:#fff;}
/*现场模块*/
.M_spot{position:relative;margin-top:28px;}
.M_spot .M_spot_list{overflow:hidden;height:430px;position:relative;}
.M_spot .M_spot_list .spot_item{float:left;display:block;overflow:hidden;height:430px;box-shadow: 3px 0px 5px rgba(0,0,0,.3);border-right:1px solid rgba(0,0,0,.3)\9;width: 790px;}
.M_spot .M_spot_list .spot_item:last-child{box-shadow:none;}
.M_spot .M_spot_list .spot_item .spot_title{float:left;display:block;height:430px;overflow:hidden;font-size:24px;color:#fff;background-color:#4a525f;width:70px;padding:40px 23px;word-wrap:break-word;word-break:nomal;line-height:26px;box-shadow: 3px 0px 5px #000;box-sizing:border-box;*width:24px;}
.M_spot .M_spot_list .hovered_item .spot_title{background-color:#d33a2e;}
.M_spot .M_spot_list .spot_item .img_info{position:relative;float:right;overflow:hidden;}
.M_spot .M_spot_list .spot_item .spot_img{display:block;overflow:hidden;width:720px;height:430px;}
.M_spot .M_spot_list .spot_item .spot_tit_bot{background:#000;background:rgba(0,0,0,.7);position:absolute;left:0;bottom:0;width:100%;height:50px;line-height:50px;padding-left:20px;}
.M_spot .M_spot_list .spot_item .spot_tit_bot .txt{color:#fff;font-size:24px;}
.M_spot .s_trangle{width:0; height:0;overflow:hidden;font-size:0;line-height:0;border-width:10px;border-style:dashed solid dashed dashed; border-color:transparent #d33a2e transparent transparent;position:absolute;right:20px;bottom:15px;display:none;}
.M_spot .hovered_item .s_trangle{display:block;}
.M_spot .M_video_list{overflow:hidden;margin-top:20px;width:1030px;margin-left:-25px;position:relative;}
.M_spot .M_video_list .video_item{float:left;margin-left:25px;display:inline;}
.M_spot .M_picTit{width:180px;height:120px;}
/*政府工作报告*/
.M_report .report_con{ width:1000px; margin: 0 auto; overflow:hidden; zoom:1; border-bottom:1px solid #acb0b1;}
.M_report .img{ float:left;}
.M_report .img img{ width:390px; height:570px;}
.M_report p{ color:#666; line-height:24px; font-size:14px; margin-bottom:12px;}
.M_report .p_top{ font-size:18px; color:#333; padding-left:22px; background:url(../../images/icon1.png) no-repeat 5px center; height:40px; line-height:40px; margin-bottom:0; font-weight:700;}
.M_report .p_top a,
.M_report .title_r a{ text-decoration:none;}
.M_report .article{ float:right; width:610px;}
.M_report .title_r{ color:#d33a2e; font-size:36px; position:relative; margin:15px 0 8px; zoom:1; font-weight: normal;}
.M_report .title_r a.fr{ float:right; font-size:14px; position:absolute; right:0; bottom:10px; color:#d33a2e;}
/*看点*/
.M_aspect .aspect{height:165px;border-bottom:1px dashed #ccc;margin-top:20px;}
.M_aspect .tit{height:30px;}
.M_aspect .M_cmnt_shr{float:right;margin-top:8px;}
.M_aspect .tit h3 a{font-size:24px;line-height:1.2;}
/*.M_aspect .tit h3 a:visited{color:#999;}*/
.M_aspect .tags{margin-top:15px;}
.M_aspect .tags a{margin-right:10px;}
.M_aspect .M_list{margin-top:10px;overflow:hidden;}
.M_aspect .M_list li{float:left;padding-top:4px;padding-bottom:4px;padding-right:30px;}
/*更多新闻*/
.M_moreNews{overflow:hidden;}
.M_moreNews .tab{height:32px;line-height:32px;margin-left:-12px;padding:12px 0;border-bottom:1px dashed #d2d2d2;}
.M_moreNews .tab a{margin:0 32px;}
.M_moreNews .tab a.cur{color:#d33a2e;}
.M_moreNews .ls li{border-bottom:1px dashed #d2d2d2;height:90px;}
.M_moreNews .ls h3{font-size:18px;line-height:1.2;padding:18px 0;}
.M_moreNews h3 a:visited{color:#999;}
.M_moreNews .time_share{height:16px;}
.M_moreNews .time_share .M_cmnt_shr{float:right;}
.M_moreNews .time_share .time{font-size:12px;color:#666;}
/*标题模块*/
.M_box{width:1000px;overflow:hidden;margin:0 auto;background:#fff;zoom:1;}
.M_box .M_tit{border-bottom:2px solid #555;}
.M_box .M_tit h2{ background:url(../../images/title.png) no-repeat 0 0;height:50px;overflow:hidden;}
.M_box .M_tit .t{height:78px;}
.M_box .M_tit .t1{background-position:0 -87px;}
.M_box .M_tit .t2{background-position:0 -148px;}
.M_box .M_tit .t3{background-position:0 -207px;}
.M_box .M_tit .t4{background-position:0 -265px;}
.M_box .M_tit .t5{background-position:0 -326px;}
.M_box .M_tit .t6{background-position:0 -386px;}
.M_box .M_tit .t7{background-position:0 -445px;}
.M_box .M_tit .t8{background-position:0 -508px;}
.M_box .M_tit .t9{background-position:0 -565px;}
.M_rtBox{float:right;width:320px;}
.M_rtBox .M_rtTit{border-bottom:2px solid #555;height:50px;}
.M_rtBox .M_rtTit .ad{float:right;width:150px;height:40px;}
.M_rtBox .M_rtTit .tit1{height:52px;width:66px;background:url(../../images/tit2.png) no-repeat 0 0;float:left;}
.M_rtBox .M_rtTit .tit2{height:52px;width:66px;background:url(../../images/tit2.png) no-repeat 0 -59px;float:left;}
/* 日历 */
.M_rili{border:1px solid #d6d6d6;padding:2px;margin-top:20px;}
.ftd02{color:#686868;font-size:12px;text-align:center;height:19px;}
.ctd01{font-size:12px;background:#efefef;text-align:center;color:#686868; height:22px;}
.ctd01 a:link,.ctd01 a:visited {text-decoration: none;color:#686868;}
.ctd01 a:active,.ctd01 a:hover {text-decoration: underline;color:#f00;}
.ctd02{font-size:12px;background-color:#696864;color:#ff9a04;text-align:center; height:22px;}
.ctd02 a:link,.ctd02 a:visited {text-decoration: none;color:#ff9a04;}
.c_s_02 {padding: 5px 0;text-align: center;zoom: 1; background:#eee; width:320px;}
.c_s_02 .kw {width: 135px;height: 18px;line-height: 18px;padding: 2px 2px 2px 20px;border: 0;border-right: 1px solid #ccc;background: url(http://i1.sinaimg.cn/dy/deco/2010/1122/search_sprite.png) 0 0 no-repeat;}
.c_s_02 select {width: 53px;height: 22px;border: 1px solid #ccc;padding: 1px;color: #666;margin-left: 5px;}
.c_s_02 .sb {margin-left: 5px;width: 44px;height: 22px;padding-bottom: 2px;overflow: hidden;_line-height: 25px;cursor: pointer;border: 0;background: url(http://i1.sinaimg.cn/dy/deco/2010/1122/search_sprite.png) 0 -100px no-repeat;color: #444;}
/*浮层*/
.M_layer{width:132px;position:fixed;right:0;top:140px;-webkit-backface-visibility: hidden; z-index:100;}	
.M_layer a span{ vertical-align:middle; display:inline-block; width:94px; height:54px; line-height:54px; text-align:center; cursor:pointer;}
.M_layer .nav1{ border-bottom:1px solid #fff; font-size:16px;}
.M_layer .nav1 a{ display:block; width:100%; height:54px; line-height:54px; background:#4a525e; color:#fff;}
.M_layer .nav1 .bshare-custom{ font-size:16px;}
.M_layer .nav1 .bshare-custom .bshare-more{ color:#fff!important;}
.bshare-custom a:hover{ opacity:1!important;}
.M_layer .nav1 a:hover,.M_layer .nav1 .cur{background:#d13c34; text-decoration:none;}
.M_layer .nav2_ul{ display:none;}
.M_layer .nav2{ height:42px; border-top:1px solid #ba2621; font-size:14px;} 
.M_layer .nav2 a{ display:block; height:42px; line-height:42px; color:#fff; background:#d13c34; text-align:center;} 
.M_layer .nav2 a:hover{ background:#ba2621;text-decoration:none;} 
.M_layer .icon{ display:inline-block; width:38px; height:54px; line-height:54px; vertical-align:middle; background-position: center right; background-repeat:no-repeat; cursor:pointer;}
.M_layer .icon1{ background-image:url(../../images/layer1.png);_background-image:url(../../images/layer1ie6.png);}
.M_layer .icon2{ background-image:url(../../images/layer2.png);_background-image:url(../../images/layer2ie6.png);}
.M_layer .icon3{ background-image:url(../../images/layer3.png);_background-image:url(../../images/layer3ie6.png); background-position: 18px center;}
.M_layer .icon4{ background-image:url(../../images/layer4.png);_background-image:url(../../images/layer4ie6.png);}
.M_layer .icon5{ background-image:url(../../images/layer5.png);_background-image:url(../../images/layer5ie6.png);}
.M_layer_pr{ border:1px solid #ccc; background:#fffdee; font-size:16px; line-height:48px; box-shadow:0 0 12px rgba(0,0,0,.15); width:250px; text-align:center; position:absolute;}
.M_layer_pr .icon{display:inline-block; background:url(../../images/layerbg_br.png) no-repeat left top; _background-image:url(../../images/layerbg_brie6.png); width:17px; height:8px; position:absolute;left:50%; margin-left:-9px; bottom:-8px;}
/*独家策划*/
.M_ownplan{margin-top:20px;}
.M_ownplan .list_outer{overflow:hidden;width:1002px;margin-right:2px;}
.M_ownplan .list_outer .plan_list{float:left;margin:0 4px 4px 0;position:relative;}
.M_ownplan .list_outer .plan_list .plan_a img{width:330px;height:240px;}
.M_ownplan .list_outer .plan_inner{position:absolute;left:0;top:0;z-index:9;background-color:#8b7b63;width:664px;height:484px;text-align:center;}
.M_ownplan .list_outer .plan_inner .tit_img{width:auto;height:150px;margin:0 auto;margin-bottom:38px;*position:relaive;}
.M_ownplan .list_outer .news_module .news_tit{color:#fff;font-size:20px;border-bottom:2px solid #fff;display: inline-block;line-height: 36px;margin-bottom:10px;*line-height: 50px;}
.M_ownplan .list_outer .news_module .news_tit i{font-size:46px;font-style: italic;font-family: Arial;margin-right:12px;}
.M_ownplan .list_outer .news_module .per_icon{width:70px;height:70px;border-radius:70px;display:block;float:left;margin-right:10px;}
.M_ownplan .list_outer .news_module .txt{overflow:hidden;*zoom:1;color:#fff;line-height:24px;float:left;height:60px;width:410px;padding-top:10px;}
.M_ownplan .news_list{width:500px;overflow:hidden;margin:0 auto;}
.M_ownplan .list_outer .list_item{float:left;width:500px;text-align: left;}
.M_ownplan .list_outer .news_info{overflow:hidden;margin-bottom:30px;}
.M_ownplan .list_inner_outer{width:1500px;}
.M_ownplan .own_plan_a_l,.M_ownplan .own_plan_a_r{position:absolute;left:25px;bottom:160px;width:28px;height:59px;background:url("../../images/common/arr_l.png") no-repeat;_background:url("../../images/common/arr_l.gif") no-repeat;}
.M_ownplan .own_plan_a_r{background:url("../../images/common/arr_r.png") no-repeat;right:25px;left:auto;_background:url("../../images/common/arr_r.gif") no-repeat;}
.M_ownplan .own_plan_close{position:absolute;right:15px;top:15px;background:url("../../images/common/plan_close.png") no-repeat;width:31px;height:22px;_background:url("../../images/common/plan_close.gif") no-repeat;}
/*补丁*/
.toutiao{position:relative;z-index:100;top:-13px;}
.M_box .h1{line-height:1.2;padding:33px 0 23px 0;font-size:42px;font-weight:400;}
.M_box .h1 a:hover{ text-decoration:none;}
/*.M_box .h1 a:visited{color:#999;}*/
h3 a:hover{ text-decoration:none;}
/*h3 a:visited{color:#999;}*/
.h_tags{margin-bottom:30px; position:relative;}
.h_tags a{margin-right:10px;}
.h_tags span,
.M_aspect .tags span{ font-size:14px; padding:4px 0; display:inline-block;}
.dujia,.xiaoxi,.qiang,.dada,.baogao,.kandian,.shijue{margin-top:50px;}
.dujia{}
.xianchang{margin-top:30px;}
.qiang .M_tit,.dada .M_tit{margin-bottom:28px;}
.xiaoxi{margin-bottom:40px;}
.M_aspect,.M_moreNews{width:640px;float:left;}
.kandian .shuoshi{margin-top:30px;}
.kandian .M_rtBox .M_list{margin-top:22px;}

/*底部*/
.M_foot{ margin:0 auto; text-align:center;  line-height:30px; padding:35px 0 80px; border-top:2px solid #5a6164; color:#666;}
.M_foot a{ color:#666;}
.M_foot a:hover{color:#333;}

/*首页右上角闪烁*/
.btn_mytt{ position:absolute; display:block; width:150px; height:78px; background:url("../../images/btn_mytt.gif") no-repeat; right:0; top:0;}

/*个人定制浮层*/
.M_user{ position:absolute;  color:#333; width:1000px;}
.M_user .M_markTags,
.M_user .M_Tags{padding:10px 26px;}
.M_user_stop{ float:right; display:block; background:url(../../images/icon2.png) no-repeat 100px 50% #d33a2e; _background-image:url(../../images/icon2.gif); height:120px; width:125px; line-height:120px; color:#fff; font-size:24px; padding-left:27px; }
.M_user_stop:hover{ background-color:#e5594f; text-decoration:none; color:#fff;}
.M_user_cn{ background:#fff; clear:both;}
.M_user_cn .title{ border-bottom:1px solid #efefef; padding:0 20px; height:89px; font-size:30px; font-weight:bold;}
.M_user_cn .title a{ color:#333; line-height:88px; height:88px; display:block; float:left; padding:0 13px;margin-right:33px;}
.M_user_cn .title a.cur,
.M_user_cn .title a.cur:hover,
.M_user_cn .title a:hover{ color:#d33a2e; border-bottom:2px solid #d33a2e; text-decoration:none; }
.M_user_cn .title a.cur_cs{ color:#333; cursor:default}
.M_user_cn .title a:hover{ border:none 0;}
.M_user_cn .content{ padding:30px 20px 20px; overflow:hidden; zoom:1;}
.M_user_cn .aside{ width:310px; float:right;}
.M_user_cn .aside .city,
.M_user_cn .aside .title_aside{color:#d33a2e;}
.M_user_cn .aside .at{ font-weight:bold; font-size:16px; margin-bottom:27px;}
.M_user_cn .aside .title_aside{ background:url(../../images/pnt1.png) no-repeat left center; padding:0 0 0 12px; font-size:24px; font-weight:normal;}
.M_user_cn .aside .M_list{ margin-bottom:30px;}
.M_user_cn  .M_list li{ padding-bottom:10px;}
.M_user_cn .aside .M_picTit{ width:310px; height:175px; overflow:hidden; margin-bottom:24px;}
.M_user_cn .aside .M_picTit .img_des{ text-align:left; padding-left:10px;}
.M_user_cn .aside .M_picTit img{ width:100%;}
.M_user_cn .main{ width:610px; overflow:hidden;}
.M_user_cn .M_Tags,
.M_user_cn .M_markTags{ margin:0 10px 10px 0; }
.M_user_cn .mydiy .M_markTags:hover{ background-color:#E6594E; color:#fff; background-image: url("../../images/del.png");}
.M_user_cn .M_cmnt_shr{ float:right; padding-top:11px; display:block; height:26px; line-height:26px;} 
.M_user_list{ border-bottom:1px dashed #b2b2b2; padding-bottom:30px; margin-top:30px;}
.M_user_list dd{ overflow:hidden; zoom:1;}
.M_user_list .list_title{ font-size:24px; font-weight:bold; display:block;  margin-bottom:15px;}
.M_user_list .article{ line-height:1.85;}
.M_user_list .article_img{ float:left; margin-right:20px; width: 300px; height: 169px; display:block; text-align:center; overflow:hidden;}
.M_user_list .article_img img{ width:100%;}
.M_user_cn .keyword{ margin-bottom:-10px;}
.M_user .M_page_tg{ margin:30px auto; position:relative; left:40%;}
.M_page_tg a{ display:block; float:left; _display:inline;}
.M_page_tg .btn_page{ width:25px; height:25px; background: url(../../images/dz_icon.png) top center no-repeat; _background: url(../../images/dz_icon.gif) top center no-repeat;}
.M_page_tg .btn_pure{ background-position: -35px -35px; margin-right:15px;}
.M_page_tg .btn_pure:hover{ background-position: -0 -0;}
.M_page_tg .btn_next{ background-position: -35px 0; margin-left:15px;}
.M_page_tg .btn_next:hover{ background-position: 0 -35px;}
.M_page_tg .btn_pg{ width:8px; height:8px; font-size:0; background-color:#d0d0d0; margin:8px 5px;;}
.M_page_tg a.cur,
.M_page_tg a.btn_pg:hover{ background-color:#d33a2e;}