@charset "utf-8";
/* 关于我 - 留言板隐私设置 */
.msgSettingItem{padding-top:30px}
.msgSettingItem p{text-align:center}
.msgSettingItem p input{vertical-align:-2px;margin-left:5px;}
.msgSettingItem p label{margin-right:10px;}
.msgSettingItem .btn{padding:20px 0 0;text-align:center;}