@charset "utf-8";
/*编辑博客名称*/
.editBlogNm{width:370px;min-height:100px;_height:100px;}
.editBlogNm .editBlogNm_tip{font-size:12px;clear:both;color:#999;padding-left:20px;padding-top:20px;}
.editBlogNm .editBlogNm_tip span{color:#c00;}
.editBlogNm_input{clear:both;margin-top:10px;padding-left:20px;height:26px;}
.editBlogNm_input .SG_input{width:180px;border:1px solid #C1C1BB;font-family:verdana;height:16px;line-height:16px;padding:2px;}
.editBlogNm_input a.SG_aBtn{margin-left:5px;vertical-align:middle;}

.rssLayer{width:370px;min-height:100px;_height:100px;}
.rssLayer th{font-weight:normal;width:80px;font-size:14px;padding-bottom:10px;}
.rssLayer td {line-height:18px;padding-bottom:10px;width:300px;}
.rssLayer td .SG_input{width:190px;border:1px solid #C1C1BB;font-family:verdana;height:16px;line-height:16px;padding:2px;margin-right:5px;}
.rssLayer td .SG_aBtn{vertical-align:middle;}

