@charset "gb2312";
/* CSS Document */
body,button,input,select,textarea{font:12px/1.5 "Microsoft YaHei",Helvetica,Arial,sans-serif;}
body,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,th,td,p,blockquote,pre,form,fieldset,legend,input,button,textarea,article,aside,footer,header,hgroup,nav,section,menu{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
li{list-style:none;}
fieldset,img{border:0;vertical-align:middle;}
input,textarea{outline-style:none;}
textarea{resize:none;}
article,aside,footer,header,hgroup,nav,section,menu{display:block;}
address,caption,cite,code,dfn,em,i,th,var{font-style:normal;font-weight:400;}
a{text-decoration:none;outline:none;}
a:hover{text-decoration:underline;}
.clearfix:after{content:"";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{zoom:1;}

body,a{color:#333;}
a:hover{color:#d33a2e;}
/*头部导航*/
.Mininav{ width:100%; height:60px; background:#fff; position:fixed; z-index:9999;-webkit-box-shadow:1px 1px 10px #eceae8;box-shadow:1px 1px 10px #eceae8; border-bottom:1px solid #f2f1ef; }
.top-nav{width: 1000px;margin: 0 auto;height: 60px;}
.tn-left{float: left; }
.tn-left a.logo,.Mininav .timeline-time li{float: left;}
.tn-left a.logo{display:block; width:140px; height:60px; background: url(http://www.sinaimg.cn/dy/2015/lh2015/lianghui_pic/logotop.png) no-repeat left 9px;  background-size:100%;}
.tn-left a.title {float: left;border-left: 1px solid #b39d6e;height:32px;line-height: 33px;font-size: 20px;padding-left: 20px; margin-left: 20px; color: #000; margin-top:14px;}
.tn-left a.title:hover{ color:#d33a2e; text-decoration:none;}
.tn-right{float: right; width:80px;}
.tn-right .bshare-custom{ width: 27px;height: 60px; float: left; line-height: 200px;overflow: hidden;margin-right: 25px; cursor: pointer;}
.tn-right .bshare-custom.icon-medium a.bshare-more.more-style-addthis{ width: 27px;height: 60px; float: left; background:url(http://www.sinaimg.cn/dy/2015/lh2015/lianghui_pic/top_commit.png) no-repeat center; cursor: pointer; padding: 0px !important;margin: 0px !important;}
.tn-right .cmnt{width: 28px;height: 60px; float: left; line-height: 200px;overflow: hidden; background: url(http://www.sinaimg.cn/dy/2015/lh2015/lianghui_pic/top_enjoy.png) no-repeat center; cursor: pointer;}
/*顶部视频*/
.M_vidio{  background:url(../images/bg.png)  center  bottom no-repeat; padding:60px 0 55px; overflow:hidden; _padding-top:0; }
.M_vidio .vidiomain{ width:1000px; margin:0px auto;}
.M_vidio .vidio{ width:576px; height:360px; float:left; margin-top:60px;}
.M_vidio .title{ width:394px; float:right;overflow:hidden;}
.M_vidio .titilebg{ float:right;}
.M_vidio h1{ font-size:26px; padding-top:20px;font-weight:normal;}
.M_vidio p{ font-size:14px; color:#666; text-indent:2em;padding-top:20px;}
.M_cmnt_shr{overflow:hidden;line-height:16px; float:right; margin-top:15px;}
.M_cmnt_shr a{font-size:14px;float:left;line-height:14px;}
.M_cmnt_shr .cmmnt:hover{color:#d33a2e;background-image:url(http://www.sinaimg.cn/dy/2015/lh2015/lianghui_pic/cmmnhv.png);}
.M_cmnt_shr .cmmnt{padding:0 10px 0 22px;background:url(http://www.sinaimg.cn/dy/2015/lh2015/lianghui_pic/cmmn.png) no-repeat left center;}
.M_cmnt_shr .videoicn{border-left:1px solid #333;padding: 0 0px 0 32px; background:url(../images/module/videodefault.png) no-repeat  10px center;font-weight:normal;}
/*.M_cmnt_shr .videoicn:hover{color:#d33a2e;background-image:url(../images/module/videohover.png);}*/
/*文字主体*/
.M_main{ width:1000px; margin:0 auto 40px; overflow:hidden;}
.M_main .rightroll{ overflow:hidden;}
.M_main .rightroll .title{ height:30px; border-bottom:2px solid #5a6164; }
.M_main .rightroll li{ padding:20px 0px 0 20px; width:184px; float:left; overflow:hidden; display:inline;}
.M_main .rightroll .M_picTit a,.M_main .M_picTit{ display:block;overflow:hidden; width:100%;}
.M_height{ margin-left:-20px;  overflow:hidden; width:1100px;}
.M_main .M_picTit .img{ width:184px; height:105px; position:relative; float:left; margin-right:20px; display:inline;}
.M_main .M_picTit .pictxt{ overflow:hidden; padding:8px 0 0 0px; font-size:14px; line-height:14px; line-height:19px; text-align:left; width:100%;}
.M_picTit .M_v_icon{background-image: url(../images/module/v_icon.png); background-position:right center; background-repeat:no-repeat;display: block;width:22px;height:22px;position:absolute;left:10px;bottom:10px;}
.M_picTit:hover .img_des{color:#fff;}
.M_picTit:hover .M_v_icon{background-image:url(../images/module/v_icon2.png);}
.M_picTit a:hover{ text-decoration:none;}
/*评论*/
.M_review{ width:1000px; margin:0 auto 80px; clear:both;}
/*浮层*/
.M_layer{width:132px;position:fixed;right:0;top:140px;-webkit-backface-visibility: hidden; z-index:100;}	
.M_layer a span{ vertical-align:middle; display:inline-block; width:94px; height:54px; line-height:54px; text-align:center; cursor:pointer;}
.M_layer .nav1{ border-bottom:1px solid #fff; font-size:16px;}
.M_layer .nav1 a{ display:block; width:100%; height:54px; line-height:54px; background:#4a525e; color:#fff;}
.M_layer .nav1 .bshare-custom{ font-size:16px;}
.M_layer .nav1 .bshare-custom .bshare-more{ color:#fff!important;}
.M_layer .nav1 a:hover,.M_layer .nav1 .cur{background:#d13c34; text-decoration:none;}
.M_layer .nav2_ul{ display:none;}
.M_layer .nav2{ height:42px; border-top:1px solid #ba2621; font-size:14px;} 
.M_layer .nav2 a{ display:block; height:42px; line-height:42px; color:#fff; background:#d13c34; text-align:center;} 
.M_layer .nav2 a:hover{ background:#ba2621;text-decoration:none;} 
.M_layer .icon{ display:inline-block; width:38px; height:54px; line-height:54px; vertical-align:middle; background-position: center right; background-repeat:no-repeat; cursor:pointer;}
.M_layer .icon1{ background-image:url(../images/layer1.png);_background-image:url(../images/layer1ie6.png);}
.M_layer .icon2{ background-image:url(../images/layer2.png);_background-image:url(../images/layer2ie6.png);}
.M_layer .icon3{ background-image:url(../images/layer3.png);_background-image:url(../images/layer3ie6.png); background-position: 18px center;}
.M_layer .icon4{ background-image:url(../images/layer4.png);_background-image:url(../images/layer4ie6.png);}
.M_layer .icon5{background-image:url(../images/layer5.png);_background-image:url(../images/layer5ie6.png);}
/*M_foot*/
.M_foot{ margin:0 auto; text-align:center;  line-height:30px; padding:35px 0 80px; border-top:2px solid #5a6164; color:#666;}
.M_foot a{ color:#666;}