@charset "gb2312";
/* CSS Document */

/*tab*/

.tab li{ float: left; border-left: 1px solid #d4dce0; border-bottom: 1px solid #d4dce0; margin-left:-1px;position: relative; text-align: center;height:41px;border-top: 3px solid #d4dce0;}
.tab li a{ color:#004444; text-decoration: none; font-size: 16px; line-height:41px;}
.tab li.cur{border-bottom-color:transparent;background:#fff; border-top: 3px solid #d23a2d;}
.tab li{ width: 24.9999999%;*width: 24.99%}
.tab li.cur{ *width: 24.9%;}
.tab li.cur a{font-size:20px; color:#d33a2e; }


/*Tabtit*/
.Tabtit{
	height:85px;
	list-style:none;
	background:#f5f5f5 url(../../images/tabbg.jpg) repeat-y right top;
}
.Tabtit li{
	width:25%;
	float:left;
	border-top:3px solid #5a6164;
}
.Tabtit li .lk_a{
	color:#333;
	display:block;
	font-size:24px;
	line-height:80px;
	text-align:center;
	border:1px solid #dadada;
	border-right:none;
}
.Tabtit li .lk_a:hover{
	color:#d33a2e;
	text-decoration:none;
}
.Tabtit li.cur{
	background:#FFF;
	border-top-color:#d33a2e;
}
.Tabtit li.cur .lk_a{
	color:#d33a2e;
	border-top-color:#FFF;
	border-bottom-color:#FFF;
}











