@charset "utf-8";
/* CSS Document */
a,.Bmedialist{ color:#333;}
.Bmedialist{ width:1000px; margin:0 auto; position:relative; overflow:hidden; }
.Bmedialist .head{ height:100px;width:1000px; overflow:hidden; background:#fff;}
.Bmedialist .logo{ background:url(../images/Bmedialist_logo.png) no-repeat; width:292px; height:40px; text-indent:-9999px; float:left; margin-top:28px;}
.Bmedialist .iconlist,.Bmedialist .share{ float:right; margin-top:38px; margin-left:20px; display:inline;}
.Bmedialist .tittotal{background: #e8e8e8; overflow:hidden; width:1000px;}
.Bmedialist .nav{  border-top:2px solid #cfcfcf; background:#e8e8e8;}
.Bmedialist .nav li{ float:left;}
.Bmedialist .nav li a{height:56px;font-size:21px; color:#666; border-bottom:4px solid #e8e8e8; line-height:56px; float:left; width:140px; text-align:center;}
.Bmedialist .nav li a.cur{color:#333; border-bottom:4px solid #ffab26; }
.Bmedialist .title{ padding-left:160px; overflow:hidden; width:840px; height:39px; line-height:39px; background:#f4f4f4; border-bottom:1px solid #e7e7e7; font-size:14px; color:#333;}
.Bmedialist .title ul{ width:100%;overflow:hidden;}
.Bmedialist .title li,.Bmedialist .subtitle .li{ float:left;text-align:center;}
.Bmedialist .title li.li1,.Bmedialist .subtitle .li1{ width:65px;}
.Bmedialist .title li.li2,.Bmedialist .subtitle .li2{ width:124px; text-align:left; padding-left:14px;}
.Bmedialist .title li.li3,.Bmedialist .subtitle .li3{ width:103px;}
.Bmedialist .title li.li4,.Bmedialist .subtitle .li4{ width:114px;}
.Bmedialist .title li.li5,.Bmedialist .subtitle .li5{ width:140px;}
.Bmedialist .subnav{ width:140px; float:left;}
.Bmedialist .subnav li a{ font-size:16px; color:#666; text-align:center; height:40px; line-height:40px; border-bottom:1px solid #fff; background:#f4f4f4; display:block;}
.Bmedialist .subnav li a:hover{ color:#ff861a;}
.Bmedialist .subnav li a.cur{ background:#ffab26; font-weight:bold; color:#fff;}
.Bmedialist .subtitle{width: 840px;float: right; min-height:612px;}
.Bmedialist .subtitle li{ height:60px; border-bottom:1px solid #f5f5f5;}
.Bmedialist .subtitle .li1{ font-size:18px; color:#333;line-height:60px;}
.Bmedialist .subtitle .li1.iconcolor_1{ color:#ac0c50; font-weight:bold;  text-align:left; }
.Bmedialist .subtitle .li1.iconcolor_2{ color:#c14e7e; font-weight:bold; text-align:left; }
.Bmedialist .subtitle .li1.iconcolor_3{ color:#ff6521; font-weight:bold;  text-align:left; }
.Bmedialist .subtitle .li1 .icon_list{background:url(../images/icon.png) no-repeat;display:inline-block; width:13px; height:13px; margin-right:14px; vertical-align:2px; *vertical-align:middle;}
.Bmedialist .subtitle .li1 .icon_1{ background-position:0 -7px; }
.Bmedialist .subtitle .li1 .icon_2{ background-position:-20px -7px;}
.Bmedialist .subtitle .li1 .icon_3{ background-position:-40px -7px;}
.Bmedialist .subtitle .li2{white-space: nowrap;text-overflow: ellipsis; -o-text-overflow:ellipsis;overflow: hidden;}
.Bmedialist .subtitle .li2,.Bmedialist .subtitle .li3,.Bmedialist .subtitle .li4{font-size:18px;line-height:60px;}
.Bmedialist .subtitle .li3 .icon_4,.Bmedialist .subtitle .li3 .icon_5{background:url(../images/icon.png) no-repeat;display:inline-block; width:11px; height:15px; margin-right:6px;background-position:0 -25px; vertical-align:-1px; *vertical-align:middle; }
.Bmedialist .subtitle .li3 .icon_5{background-position:-20px -25px;}
.Bmedialist .subtitle .li3 .greybar{ width:10px; height:3px; background:#ccc; overflow:hidden; display:inline-block; margin-right:18px; vertical-align:middle;*vertical-align:-13px;}
.Bmedialist .subtitle .li5{ text-align:left; margin:13px 0 0 0;}
.Bmedialist .subtitle .li5 a{ margin-left:35px; display:block;}
.Bmedialist .subtitle .li5 .barin{ width:70px; height:15px; float:left; margin-right:3px;}
.Bmedialist .subtitle .li5 .size{ font-size:18px; line-height:15px; display:none;}
.Bmedialist .subtitle .li5 .txt,.Bmedialist .subtitle .li5 .txt_1{ font-size:13px; line-height:13px; margin-top:6px; clear:both;}
.Bmedialist .subtitle .li5 .greybar_1{ width:20px; height:3px; background:#ccc; margin-left:60px;display:inline-block; vertical-align:-6px;}
.Bmedialist .subtitle .li5 .txt_1{ padding-left:35px;}
.Bmedialist .subtitle .li5 a:hover .txt{ text-decoration:underline;}
.Bmedialist .subtitle .li5 .bar{ overflow:hidden;}
.Bmedialist .subtitle .li5 a:hover .size{ display:block;}
.Bmedialist .subtitle .li5 .color_1:hover{ color:#ac0c50;}
.Bmedialist .subtitle .li5 .color_1:hover .barin,.Bmedialist .subtitle .li5 .color_1 .barin{ background:#ac0c50;}
.Bmedialist .subtitle .li5 .color_2:hover{ color:#f0386c;}
.Bmedialist .subtitle .li5 .color_2:hover .barin,.Bmedialist .subtitle .li5 .color_2 .barin{ background:#f0386c;}
.Bmedialist .subtitle .li5 .color_3:hover{ color:#ff6521;}
.Bmedialist .subtitle .li5 .color_3:hover .barin,.Bmedialist .subtitle .li5 .color_3 .barin{ background:#ff6521;}
.Bmedialist .subtitle .li5 .color_4:hover{ color:#ffab26;}
.Bmedialist .subtitle .li5 .color_4:hover .barin,.Bmedialist .subtitle .li5 .color_4 .barin{ background:#ffab26;}
.Bmedialist .subtitle .li5 .color_5:hover{ color:#fadb08;}
.Bmedialist .subtitle .li5 .color_5:hover .barin,.Bmedialist .subtitle .li5 .color_5 .barin{ background:#fadb08;}
.Bmedialist .subtitle .li5 .color_6:hover{ color:#b7db27;}
.Bmedialist .subtitle .li5 .color_6:hover .barin,.Bmedialist .subtitle .li5 .color_6 .barin{ background:#b7db27;}
.Bmedialist .subtitle .li5 .color_7:hover{ color:#3fcb91;}
.Bmedialist .subtitle .li5 .color_7:hover .barin,.Bmedialist .subtitle .li5 .color_7 .barin{ background:#3fcb91;}
.Bmedialist .subtitle .li5 .color_8:hover{ color:#45a7d5;}
.Bmedialist .subtitle .li5 .color_8:hover .barin,.Bmedialist .subtitle .li5 .color_8 .barin{ background:#45a7d5;}
.Bmedialist .subtitle .li5 .color_9:hover{ color:#4969bb;}
.Bmedialist .subtitle .li5 .color_9:hover .barin,.Bmedialist .subtitle .li5 .color_9 .barin{ background:#4969bb;}
.Bmedialist .subtitle .li5 .color_10:hover{ color:#575c75;}
.Bmedialist .subtitle .li5 .color_10:hover .barin,.Bmedialist .subtitle .li5 .color_10 .barin{ background:#575c75;}
.Bmedialist .pages{ text-align:center; padding:60px 0 100px;}
.Bmedialist .pages a{ display:inline-block; padding:0 10px; font-size:13px; height:28px; line-height:28px; margin-right:2px; border:1px solid #e4e4e4; background:#f5f5f5;}
.Bmedialist .pages a:hover,.Bmedialist .pages a.cur{ color:#fff; background:#ffab26;border:1px solid #ffab26;}
.Bmedialist .pages a.page:hover{border:1px solid #e4e4e4; background:#f5f5f5; color:#333;}
.Bmedialist .pages a.disable,.Bmedialist a.page.disable:hover{ background:#fff; cursor:default;}
.Bmedialist .subtitle li.li_tryagain{ height:auto; border-bottom:0; text-align:center;}
.Bmedialist .tryagain{ font-size:18px; color:#666; line-height:18px; padding:176px 0 320px;}
.Bmedialist .tryagain a{ color:#ffab26;}
.Bmedialist .tryagain a:hover{ text-decoration:underline;}
/*专题--底部2015.01.22*/
.cf_foot{ width:100%; min-width:1000px;text-align:center;  line-height:30px; font-size:14px;padding:22px 0 42px; border-top:1px solid #dfdfdf; background:#fff; clear:both;}
.cf_foot a:hover{ color:#e96a0d !important;}
.cf_foot p span{ padding:0 30px;}
/**未滚动到顶导，置顶样式**/
.Bmedialist1 .head{ position:fixed;top:0;z-index:1;}
.Bmedialist1 .tittotal{ position:fixed; top:100px; z-index:1;}
.Bmedialist1 .subnav{ position:fixed; top:202px;}
.Bmedialist1 .subtitle{ margin-top:155px;}
