@charset "utf-8";
/* CSS Document */
a,.Bmedialist{ color:#333;}
body {background: #888;color: #000;}
.Bmedialist,.layer_subnav{ min-width:320px;}
.Bmedialist .head{ height:50px; background:#fff; overflow:hidden; text-align:center;}
.Bmedialist .logo{ font-size:18px;line-height:50px; }
.Bmedialist .share{ float:right; width:17px; height:16px; margin:16px 15px 0 0;line-height:0;}
.Bmedialist .share img{ width:100%; }
.Bmedialist .nav{ height:40px; font-size:14px;background:#e8e8e8;}
.Bmedialist .nav a{ float:left; width:70px; height:38px; line-height:38px; text-align:center; border-bottom:2px solid #e8e8e8; color:#666; }
.Bmedialist .nav a:hover,.Bmedialist .nav a.cur{ border-bottom:2px solid #ffab26;}
.Bmedialist .nav a.totallist{ float:right; width:110px; background:#ffab26; color:#fff;border-bottom:2px solid #ffab26; }
.Bmedialist .icon_arrow{width:10px; height:6px; vertical-align:middle; float:right; margin:18px 15px 0 0; }
.Bmedialist .icon_arrowup .icon_arrow{background:url(../images/h5/Bmedialist_arrowtop.png) no-repeat;background-size:100%;}
.Bmedialist .icon_arrowbottom .icon_arrow{background:url(../images/h5/Bmedialist_arrowbottom.png) no-repeat;background-size:100%;}
.Bmedialist .subtitle{ background:#fff;}
.Bmedialist .subtitle li{ height:45px; line-height:45px; font-size:18px; overflow:hidden;}
.Bmedialist .subtitle li:nth-child(2n+2){ background:#f8f8f8;}
.Bmedialist .subtitle li.size{ font-size:16px; color:#666;}
.Bmedialist .subtitle .li{ float:left; text-align:center;}
.Bmedialist .subtitle .li1{ width:66px; color:#797979;}
.Bmedialist .subtitle .li2{ width:137px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; text-align:left;}
.Bmedialist .subtitle .li3{ width:111px; float:right; text-align:left;}
.Bmedialist .subtitle .iconcolor_1{color:#ac0c50; font-weight:bold;}
.Bmedialist .subtitle .iconcolor_2{color:#f0386c;font-weight:bold;}
.Bmedialist .subtitle .iconcolor_3{color:#ff6521;font-weight:bold;}
.Bmedialist .layer_subnav{ width:100%; background:rgba(255,255,255,.75); position:absolute; height:100%; margin-top:90px; z-index:9;}
.Bmedialist .layer_subnav ul{ width:110px; float:right; }
.Bmedialist .layer_subnav li{background:#f3f3f3; height:40px; line-height:40px; color:#999; font-size:14px; text-align:center; border-bottom:1px solid #d9d9d9;}
.Bmedialist .layer_subnav li a:active,.Bmedialist .layer_subnav li a.cur{ color:#ffab26;}
.Bmedialist .more{ height:39px; line-height:39px; background:#e8e8e8;}
.Bmedialist .more a{ display:block; width:100%; height:39px; color:#666; font-size:12px; text-align:center;}
.Bmedialist .subtitle li.prompt{background:#f8f8f8; overflow:hidden; text-align:center; width: 100%;height: calc( 100% - 135px );display: table;text-align: center;margin: auto;position: absolute;left: 0;bottom: 0;right: 0;}
.Bmedialist .subtitle li.prompt .icon_prompt{ background:url(../images/h5/icon_prompt.png) no-repeat; width:26px; height:25px; display:block; background-size:100%; line-height:0; margin:0 auto 10px;}
.Bmedialist .subtitle li.prompt .promptnr{ display: table-cell;vertical-align: middle;}
.Bmedialist .subtitle li.prompt p{ color:#999; font-size:16px; line-height:16px;}
.Bmedialist .subtitle li.prompt .btn_tryagain{width:100px; height:30px; line-height:30px; background:#ffab26; display:block; color:#fff; font-size:14px; margin:24px auto 0;}
/*分享转发*/
.l-share{background:#f3f3f3;height:14.0625em;padding:0 .625em .625em;width:100%;-webkit-box-sizing:border-box;box-sizing:border-box;position:absolute;bottom:0;}
.l-share{height:auto;padding:0;}
.l-share .reserved-ls{padding:.75em .625em 1.5em;border-bottom:1px solid #e9e9e9;}
.l-share .share-ls{padding:.75em .625em 1.875em;}
.l-share .share-ls li,
.l-share .reserved-ls li{display:inline-block;}
.l-share .share-ls a,
.l-share .reserved-ls a{width:5.9em;font-size:.75em;padding-top:5.4em;display:inline-block;text-align:center;background-repeat:no-repeat;background-position:center 0em;margin-top:.85em;}
.l-share .myblog{background-image: url(../images/zf_blog.png);background-size:82.5%;}
.l-share .zone{background-image:url(../images/zf_zone.png);background-size:82.5%;}
.l-share .weibo{background-image:url(../images/zf_weibo.png);background-size:82.5%;}
.l-share .renren{background-image:url(../images/renren.png);background-size:61%;}
.l-share .tengxun{background-image:url(../images/zf_t.png);background-size:82.5%;}
.l-share .weixin{background-image:url(../images/weixin.png);background-size:82.5%;}
.l-share a.weixinpengy{background-image:url(../images/zf_friend.png);background-size:82.5%;}